.button-custom {
    font-weight: bold;  
    margin: 1rem;
    padding: .75rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-custom:before {
       content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-custom:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    border-radius: inherit;
  }
  
  .button-custom:hover,
  .button-custom:focus {
    background-color: cyan;
  }
  
  .button-custom:hover:before,
  .button-custom:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }  

  @media screen and (max-height: 340px) {
    .button-custom {
        top: .75rem;
    }
  }

  @media screen and (max-width: 340px) {
    .button-custom {
        right: 3rem;
    }
  }